* {
    margin: 0;
    box-sizing: border-box;
}

/* Stylowanie headera*/

.header {
    background: #fff;
    box-shadow: 0 3px 6px #00000029;
}

.container {
    margin: 0 auto;
    max-width: 1352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logo {
    margin-top: 16px;
    margin-bottom: 17px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;


}

.container-nav {
    display: flex;
    gap: 95px;
    padding-top: 28px;
}

.container-nav a {
    font-family: "Open Sans", serif;
    font-size: 15px;
    font-weight: bold;
    color: #a5a5a5;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: solid 4px transparent;
    padding-bottom: 25px;
    transition:color, border-bottom-color 0.4s;
}

.container-nav a:hover {
    color: black;
    border-bottom-color: #08a6e4;

}


/*Stylowanie sekcji banner*/

.banner {
    background-image: url("/assets/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
    padding-top: 300px;
    padding-bottom: 200px;
}


.banner-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    letter-spacing: 0;
    color: #000;
    padding-top: 130px;
    padding-bottom: 20px;
}
.banner-text {
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    letter-spacing: 0;
    color: #000;
    padding-bottom: 38px;
}
.banner-button {

    background: #08a6e4;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    padding: 22px 157px 23px;
}

.banner-button a {
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
}

/*stylowanie sekcji statistic*/

.statistic {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    background: #fff;
    box-shadow: 0 -5px 80px #00000029;
}

.statistic-title {
    font-size: 36px;
    padding-top: 100px;
}

.statistic-container {
    margin: 0 auto;
    max-width: 1352px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 120px;
}

.statistic-content {}
.statistic-photo-box-1 {
    position: relative;
}

.statistic-photo-img {
    position: relative;
    z-index: 1;
    padding-left: 15px;    
}

.statistic-photo-box-1::after {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background: #FB3B64;
    border-radius: 50%;
    position: absolute;
    top: -16%;
    left: 5%;
}

.statistic-photo-box-2 {
    position: relative;
}

.statistic-photo-box-2::after {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background: #08A6E4;
    border-radius: 50%;
    position: absolute;
    bottom: -22%;
    left: 26%;
}

.statistic-photo-box-3 {
    position: relative;
}

.statistic-photo-box-3::after {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background: #55DFB4;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    left: 15%;
}

.statistic-content-numbers {
    letter-spacing: 6px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 19px;
}
.statistic-content-text {
    color: #A5A5A5;
    font-size: 16px;

}