/*stylowanie ogólne */
:root {
    --color-wht: #fff;
    --color-blue: #08a6e4;
    --color-red: #FB3B64;
    --color-green: #55DFB4;
    --text-color-grey: #a5a5a5;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    display: flex;
    max-width: 1352px;
}


/* stylowanie sekcji headera*/


.header {
    background: var(--color-wht);
    box-shadow: 0 3px 6px #00000029;
}

.header-container {
    justify-content: space-between;
    align-items: center;
}

.header-container-logo {
    margin-top: 16px;
    margin-bottom: 17px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: var(--color-blue);
}

.header-container-nav {
    display: flex;
    gap: 95px;
    padding-top: 28px;
}

.header-container-nav a {
    font-family: "Open Sans", serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--text-color-grey);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: solid 4px transparent;
    padding-bottom: 25px;
    transition: color, border-bottom-color 0.4s;
}

.header-container-nav a:hover {
    color: #000;
    border-bottom-color: var(--color-blue);
}


/* stylowanie sekcji banner*/


.banner {
    background: var(--color-wht);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
}

.banner-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    letter-spacing: 0;
    color: #000;
    padding-top: 90px;
    padding-bottom: 20px;
}

.banner-text {
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    letter-spacing: 0;
    color: #000;
    padding-bottom: 38px;
}

.banner-button {
    background: var(--color-blue);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    padding: 22px 157px 23px;
}

.banner-button a {
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    color: var(--color-wht);
    text-decoration: none;
}


/* stylowanie sekcji statistic*/


.statistic {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    background: var(--color-wht);
    box-shadow: 0 -5px 80px #00000029;
}

.statistic-title {
    font-size: 36px;
    padding-top: 100px;
}

.statistic-container {
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 120px;
    gap: 200px;
}

.statistic-photo-box-1 {
    position: relative;
}

.statistic-photo-img {
    position: relative;
    z-index: 1;
    padding-left: 15px;
}

.statistic-photo-box-1::after {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background: var(--color-red);
    border-radius: 50%;
    position: absolute;
    top: -16%;
    left: 5%;
}

.statistic-photo-box-2 {
    position: relative;
}

.statistic-photo-box-2::after {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background: var(--color-blue);
    border-radius: 50%;
    position: absolute;
    bottom: -22%;
    left: 26%;
}

.statistic-photo-box-3 {
    position: relative;
}

.statistic-photo-box-3::after {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background: var(--color-green);
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    left: 15%;
}

.statistic-content-numbers {
    letter-spacing: 6px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 19px;
}

.statistic-content-text {
    color: var(--text-color-grey);
    font-size: 16px;

}


/* stylowanie sekcji benfits*/


.benefits {
    padding: 100px 0;
    background-color: #F7F7F7;
}

.benefits-container {
    max-width: 1200px;
    flex-direction: column;
}

.benefits-article {
    background: var(--color-wht);
    border: 1px solid #E8E9ED;
    margin-bottom: 37px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.benefits-content {
    max-width: 415px;
    padding: 90px 36px;
    letter-spacing: 0;
}

.benefits-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    text-align: left;
}

.benefits-text {
    font-family: "Open Sans", serif;
    padding-top: 30px;
}

.benefits-text::after {
    content: "";
    width: 332px;
    height: 4px;
    background: var(--line-color);
    display: block;
    margin-top: 50px;
}

.benefits-photo {
    display: flex;
}

.benefits-first-article {
    --line-color: var(--color-red);
}

.benefits-photo-laptop {
    padding-right: 117px;
    padding-bottom: 38px;
    position: relative;
}

.benefits-img-laptop {
    width: 387px;
    height: auto;
    position: relative;
}

.benefits-photo-laptop::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-red);
    display: block;
    border-radius: 40px;
    position: absolute;
    left: 45%;
    top: -20%;
    transform: rotate(45deg);
}

.benefits-second-article {
    --line-color: #07ACE6;
}

.benefits-photo-phone {
    order: -1;
    position: relative;
    padding-left: 70px;
}

.benefits-img-phone {
    position: relative;
    width: 426px;
    height: auto;
}

.benefits-photo-phone::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 25%;
    top: -5%;
}

.benefits-third-article {
    --line-color: var(--color-green);
    display: flex;
    background: 0;
    border: none;

}

.benefits-third-article-content {
    background: var(--color-wht);
    max-width: 620px;
    height: auto;
    margin: 0;
    border: 1px solid #E8E9ED;
}

.benefits-photo-trumpet {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    flex-grow: 1;
    background: var(--color-green);
    margin-left: 60px;
}

.benefits-img-trumpet {
    width: 295px;
    height: auto;
    padding: 98px 0;
}


/* stylowanie sekcji pricing*/


.pricing {
    background: var(--color-wht);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.pricing-container {
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 100px 0;
}

.pricing-box {
    padding: 50px;
    border: 1px solid var(--box-color);
    border-radius: 18px;
    width: 370px;
    height: auto;
}

.pricing-box-basic {
    --box-color: var(--color-red);
}

.pricing-box-content {
    text-align: center;
    padding-top: 34px;
    padding-bottom: 60px;
}

.pricing-box-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.pricing-box-cost {
    font-size: 46px;
    color: var(--box-color);
    padding-top: 14px;
    padding-bottom: 5px;
}

.pricing-box-limited {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.pricing-box-list {
    padding-top: 65px;
    text-align: center;
}

.pricing-box-items {
    font-size: 14px;
    padding-bottom: 20px;
}

.pricing-box-items::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    padding-right: 10px;
    background-image: url(/assets/checkmark-1.svg);
    background-repeat: no-repeat;
}

.pricing-box-items-not::before {
    background-image: url(/assets/close.svg);
}

.pricing-box-button {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    background: var(--box-color);
    box-shadow: 0 0 8px var(--box-color);
    border-radius: 40px;
    padding: 16px 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 75px;
}

.pricing-box-button-begin {
    text-decoration: none;
    color: var(--color-wht);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.pricing-box-professional {
    --box-color: #07ace6;
    box-shadow: 1px 1px 8px var(--box-color);
    width: 400px;
    height: auto;
    margin: 40px -30px;
    padding: 80px 50px;
}

.pricing-box-professional .pricing-box-button {
    top: 104px;
}

.pricing-box-premium {
    --box-color: var(--color-green);
}


/* stylowanie sekcji form*/


.contact-form-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    max-width: 830px;
    margin: 0 auto;
}

.contact-form-title {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
}

.contact-form-text {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 22px 0 42px 0;
}

.contact-form-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-color-grey);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.contact-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-color-grey);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.form {
    --form-color: var(--color-blue);
    flex: 1;
    letter-spacing: 0;
}

.form-row {
    margin-bottom: 20px;
}

.form-label {
    text-align: left;
    color: var(--form-color);
    text-transform: uppercase;
}

.form-control {
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--text-color-grey) ;
    padding: 0 10px;
}


.form-control:focus {
    border-color: var(--form-color);
    outline: 1px solid var(--form-color);
}

.form-checkbox {
    font-size: 12px;
    color: #707070;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.form-checkbox-input {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    appearance: none;
}

.form-checkbox-input:checked {
    background: url(/assets/checkmark.svg) no-repeat center;
}

.button--stroke {
    text-decoration: none;
    color: var(--color-wht);
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background: var(--form-color);
    border: none;
    border-radius: 35px;
    box-shadow: 1px 1px 4px var(--form-color);
    padding: 15px 80px;
    transition: background-color 0.5s;
    position: relative;
    left: 50%;
}

.button--stroke:hover  {
    background: var(--color-green);
    box-shadow: inset 0 0 0 1px var(--color-green);
}


/* stylowanie sekcji footer*/


.footer {
    background: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
}

.footer-container {
    justify-content: space-between;
    align-items: center;
    padding: 0 137px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-title {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    text-decoration: none;
    color: var(--color-blue);
}

.footer-text {
    color: var(--text-color-grey);
    font-size: 11px;
    line-height: 1.5rem;
}

.footer-icons {
    display: flex;
    gap: 20px;
    padding: 25px;
}