* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
  display: flex;
  max-width: 1352px;
}

@media (width < 1352px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}