/* stylowanie sekcji headera*/


.header {
  background: $color-wht;
  box-shadow: 0 3px 6px #00000029;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.header-container-logo {
  margin-top: 16px;
  margin-bottom: 17px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  color: $color-blue;
}

.header-container-nav {
  display: flex;
  gap: 95px;
  padding-top: 28px;
}

.header-container-nav a {
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: bold;
  color: $text-color-grey;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: solid 4px transparent;
  padding-bottom: 25px;
  transition: color, border-bottom-color 0.4s;
}

.header-container-nav a:hover {
  color: #000;
  border-bottom-color: $color-blue;
}
