
$color-wht: #fff;
$color-blue: #08a6e4;
$color-red: #FB3B64;
$color-green: #55DFB4;
$text-color-grey: #a5a5a5;
$color-light-grey: #F7F7F7;
$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;

$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

$button-radius: 35px;

@mixin notebook {
  @media (max-width: 1352px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 792px) {
    @content;
  }
}

.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: $button-radius;
  border: none;


  &--primary {
    background-color: $color-primary;
    border-radius: $button-radius;
    box-shadow: 3px 10px 14px $color-primary-shadow;
  }

  &--redish {
    background-color: $color-redish;
  }

  &--green {
    background-color: $color-green;
  }

  &--large {
    padding: 22px 155px;
  }
}

